# Import libraries

In [28]:
# Import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pyproj import Proj, transform
from geopy.distance import geodesic

# Read raw data

In [29]:

# Read the CSV file
file_path = '../data/raw/df_i.csv'
df_i = pd.read_csv(file_path)



# Display the first and last 10 rows
print(df_i.head(10))
print(df_i.tail(10))

# Get info about DF
print(df_i.info())

    IncidentNumber DateOfCall  CalYear TimeOfCall  HourOfCall  \
0  043453-28032023  28-Mar-23     2023   23:08:30          23
1  144295-18092023  18-Sep-23     2023   08:19:06           8
2  197526-16122023  16-Dec-23     2023   12:37:18          12
3  137787-08092023  08-Sep-23     2023   08:33:16           8
4  143525-16092023  16-Sep-23     2023   23:20:57          23
5  184192-24112023  24-Nov-23     2023   03:36:47           3
6  079155-03062023  03-Jun-23     2023   22:43:46          22
7  056510-24042023  24-Apr-23     2023   06:12:08           6
8  127526-22082023  22-Aug-23     2023   15:07:37          15
9  122000-12082023  12-Aug-23     2023   21:35:23          21

     IncidentGroup      StopCodeDescription     SpecialServiceType  \
0  Special Service          Special Service   Effecting entry/exit
1      False Alarm                      AFA                    NaN
2      False Alarm                      AFA                    NaN
3      False Alarm  False alarm - Malicious                    NaN
4      False Alarm                      AFA                    NaN
5             Fire           Secondary Fire                    NaN
6  Special Service          Special Service  Making Safe (not RTC)
7      False Alarm                      AFA                    NaN
8  Special Service          Special Service   Effecting entry/exit
9  Special Service          Special Service            Advice Only

    PropertyCategory                                       PropertyType  ...  \
0           Dwelling  Purpose Built Flats/Maisonettes - Up to 3 stor...  ...
1           Dwelling  Purpose Built Flats/Maisonettes - Up to 3 stor...  ...
2    Non Residential                                       Single shop   ...
3  Other Residential    Boarding House/B&B for homeless/asylum seekers   ...
4           Dwelling  Purpose Built Flats/Maisonettes - Up to 3 stor...  ...
5            Outdoor                             Road surface/pavement   ...
6           Dwelling  Purpose Built Flats/Maisonettes - 4 to 9 storeys   ...
7           Dwelling                          House - single occupancy   ...
8           Dwelling     Converted Flat/Maisonettes - 3 or more storeys  ...
9           Dwelling       Converted Flat/Maisonette - Up to 2 storeys   ...

  FirstPumpArriving_AttendanceTime FirstPumpArriving_DeployedFromStation  \
0                            140.0                       Stoke Newington
1                            283.0                               Chelsea
2                            521.0                              Chiswick
3                            273.0                                Euston
4                            254.0                             Wimbledon
5                            217.0                               Peckham
6                            420.0                             Tottenham
7                            353.0                               Ruislip
8                            315.0                                Ealing
9                            223.0                               Clapham

  SecondPumpArriving_AttendanceTime  SecondPumpArriving_DeployedFromStation  \
0                               NaN                                     NaN
1                             358.0                              Kensington
2                             572.0                                  Heston
3                             356.0                               Islington
4                             441.0                                 Tooting
5                               NaN                                     NaN
6                               NaN                                     NaN
7                               NaN                                     NaN
8                               NaN                                     NaN
9                               NaN                                     NaN

   NumStationsWithPumpsAttending NumPumpsAttending PumpCount  \
0                            1.0               1.0         1
1                            2.0               2.0         2
2                            2.0               2.0         2
3                            2.0               2.0         2
4                            2.0               2.0         2
5                            1.0               1.0         1
6                            1.0               1.0         1
7                            1.0               1.0         1
8                            1.0               1.0         1
9                            1.0               1.0         1

  PumpMinutesRounded Notional Cost (Â£) NumCalls
0                 60               364      1.0
1                 60               388      1.0
2                 60               388      1.0
3                 60               388      1.0
4                 60               388      1.0
5                 60               388      2.0
6                 60               388      1.0
7                 60               388      1.0
8                 60               388      1.0
9                 60               388      1.0

[10 rows x 39 columns]
       IncidentNumber DateOfCall  CalYear TimeOfCall  HourOfCall  \
9990  152206-01102023  01-Oct-23     2023   07:14:29           7
9991  152037-30092023  30-Sep-23     2023   22:27:17          22
9992  195321-12122023  12-Dec-23     2023   16:22:57          16
9993  020900-11022023  11-Feb-23     2023   08:18:31           8
9994  054971-21042023  21-Apr-23     2023   00:02:31           0
9995  202465-25122023  25-Dec-23     2023   08:46:41           8
9996  171243-02112023  02-Nov-23     2023   11:28:45          11
9997  005727-13012023  13-Jan-23     2023   03:50:48           3
9998  049088-09042023  09-Apr-23     2023   00:12:35           0
9999  182176-20112023  20-Nov-23     2023   17:24:50          17

        IncidentGroup        StopCodeDescription  \
9990  Special Service            Special Service
9991  Special Service            Special Service
9992  Special Service            Special Service
9993      False Alarm                        AFA
9994      False Alarm                        AFA
9995  Special Service            Special Service
9996      False Alarm                        AFA
9997  Special Service            Special Service
9998      False Alarm  False alarm - Good intent
9999  Special Service            Special Service

                  SpecialServiceType   PropertyCategory  \
9990                        Flooding           Dwelling
9991  Removal of objects from people    Non Residential
9992                        Flooding           Dwelling
9993                             NaN    Non Residential
9994                             NaN           Dwelling
9995           Assist other agencies           Dwelling
9996                             NaN    Non Residential
9997                    Lift Release  Other Residential
9998                             NaN           Dwelling
9999                    Lift Release           Dwelling

                                           PropertyType  ...  \
9990                          House - single occupancy   ...
9991                                      Fire station   ...
9992                          House - single occupancy   ...
9993                                     Health Centre   ...
9994                          House - single occupancy   ...
9995                          House - single occupancy   ...
9996                                          Ice rink   ...
9997                                       Hotel/motel   ...
9998                          House - single occupancy   ...
9999  Purpose Built Flats/Maisonettes - 4 to 9 storeys   ...

     FirstPumpArriving_AttendanceTime FirstPumpArriving_DeployedFromStation  \
9990                            358.0                             Battersea
9991                             22.0                              Millwall
9992                            573.0                                 Erith
9993                            278.0                              Northolt
9994                            405.0                                 Erith
9995                            231.0                              Woodside
9996                            305.0                               Tooting
9997                              NaN                                   NaN
9998                            246.0                                Bexley
9999                              NaN                                   NaN

     SecondPumpArriving_AttendanceTime  \
9990                               NaN
9991                               NaN
9992                               NaN
9993                               NaN
9994                             574.0
9995                               NaN
9996                               NaN
9997                               NaN
9998                               NaN
9999                               NaN

      SecondPumpArriving_DeployedFromStation  NumStationsWithPumpsAttending  \
9990                                     NaN                            1.0
9991                                     NaN                            1.0
9992                                     NaN                            1.0
9993                                     NaN                            1.0
9994                                  Bexley                            2.0
9995                                     NaN                            1.0
9996                                     NaN                            1.0
9997                                     NaN                            1.0
9998                                     NaN                            1.0
9999                                     NaN                            1.0

     NumPumpsAttending PumpCount PumpMinutesRounded Notional Cost (Â£) NumCalls
9990               1.0         1                 60               388      1.0
9991               1.0         1                 60               388      1.0
9992               1.0         1                 60               388      1.0
9993               1.0         1                 60               364      1.0
9994               2.0         2                 60               388      1.0
9995               1.0         1                 60               388      1.0
9996               1.0         1                 60               388      1.0
9997               1.0         1                 60               364      1.0
9998               1.0         1                 60               388      1.0
9999               1.0         1                 60               388      1.0

[10 rows x 39 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 39 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   IncidentNumber                          10000 non-null  object
 1   DateOfCall                              10000 non-null  object
 2   CalYear                                 10000 non-null  int64
 3   TimeOfCall                              10000 non-null  object
 4   HourOfCall                              10000 non-null  int64
 5   IncidentGroup                           10000 non-null  object
 6   StopCodeDescription                     10000 non-null  object
 7   SpecialServiceType                      3737 non-null   object
 8   PropertyCategory                        10000 non-null  object
 9   PropertyType                            10000 non-null  object
 10  AddressQualifier                        10000 non-null  object
 11  Postcode_full                           4120 non-null   object
 12  Postcode_district                       10000 non-null  object
 13  UPRN                                    10000 non-null  float64
 14  USRN                                    10000 non-null  int64
 15  IncGeo_BoroughCode                      10000 non-null  object
 16  IncGeo_BoroughName                      10000 non-null  object
 17  ProperCase                              10000 non-null  object
 18  IncGeo_WardCode                         9981 non-null   object
 19  IncGeo_WardName                         9981 non-null   object
 20  IncGeo_WardNameNew                      9981 non-null   object
 21  Easting_m                               4120 non-null   float64
 22  Northing_m                              4120 non-null   float64
 23  Easting_rounded                         10000 non-null  int64
 24  Northing_rounded                        10000 non-null  int64
 25  Latitude                                4120 non-null   float64
 26  Longitude                               4120 non-null   float64
 27  FRS                                     10000 non-null  object
 28  IncidentStationGround                   10000 non-null  object
 29  FirstPumpArriving_AttendanceTime        9476 non-null   float64
 30  FirstPumpArriving_DeployedFromStation   9476 non-null   object
 31  SecondPumpArriving_AttendanceTime       3640 non-null   float64
 32  SecondPumpArriving_DeployedFromStation  3640 non-null   object
 33  NumStationsWithPumpsAttending           9908 non-null   float64
 34  NumPumpsAttending                       9908 non-null   float64
 35  PumpCount                               10000 non-null  int64
 36  PumpMinutesRounded                      10000 non-null  int64
 37  Notional Cost (Â£)                       10000 non-null  int64
 38  NumCalls                                10000 non-null  float64
dtypes: float64(10), int64(8), object(21)
memory usage: 3.0+ MB
None

# Keep rows important to the modle

In [32]:
import pandas as pd

# File path to the CSV file
file_path = '../data/raw/df_i.csv'

# Read the DataFrame from the CSV file
df_i = pd.read_csv(file_path)

# List of desired columns
columns_to_keep = ['IncidentNumber', 'DateOfCall', 'CalYear', 'HourOfCall',
                   'IncGeo_BoroughName', 'Easting_m', 'Northing_m',
                   'Easting_rounded', 'Northing_rounded', 'Latitude',
                   'Longitude', 'FirstPumpArriving_AttendanceTime',
                   'FirstPumpArriving_DeployedFromStation']

# Select the desired columns
df_i2 = df_i[columns_to_keep].copy()  # Create a copy of the DataFrame

# Rename columns
df_i2.rename(columns={'FirstPumpArriving_AttendanceTime': 'AttendanceTime',
                      'FirstPumpArriving_DeployedFromStation': 'DeployedFromStation'}, inplace=True)

# Display the first few rows of the DataFrame
print(df_i2.head())

# Get info about DF
print(df_i2.info())

    IncidentNumber DateOfCall  CalYear  HourOfCall      IncGeo_BoroughName  \
0  043453-28032023  28-Mar-23     2023          23               ISLINGTON
1  144295-18092023  18-Sep-23     2023           8  KENSINGTON AND CHELSEA
2  197526-16122023  16-Dec-23     2023          12                  EALING
3  137787-08092023  08-Sep-23     2023           8                  CAMDEN
4  143525-16092023  16-Sep-23     2023          23                  MERTON

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  \
0        NaN         NaN           532350            186150        NaN
1        NaN         NaN           527850            178950        NaN
2   517597.0    179596.0           517550            179550  51.503080
3   530803.0    182694.0           530850            182650  51.528024
4        NaN         NaN           526050            170950        NaN

   Longitude  AttendanceTime DeployedFromStation
0        NaN           140.0     Stoke Newington
1        NaN           283.0             Chelsea
2  -0.307068           521.0            Chiswick
3  -0.115758           273.0              Euston
4        NaN           254.0           Wimbledon
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_m            4120 non-null   float64
 6   Northing_m           4120 non-null   float64
 7   Easting_rounded      10000 non-null  int64
 8   Northing_rounded     10000 non-null  int64
 9   Latitude             4120 non-null   float64
 10  Longitude            4120 non-null   float64
 11  AttendanceTime       9476 non-null   float64
 12  DeployedFromStation  9476 non-null   object
dtypes: float64(5), int64(4), object(4)
memory usage: 1015.8+ KB
None

# Check wether 'IncidentNumber' is unique

In [33]:
# Check wether 'IncidentNumber' is unique
unique_ids_count = df_i2['IncidentNumber'].nunique()
print(f"Number of unique IncidentNumbers: {unique_ids_count}")

Number of unique IncidentNumbers: 10000

# Convert geodata and add columns

In [34]:

# Convert geodata and add columns


# Definition of the Ordnance Survey Grid Reference Project (OSGB)
osgb_proj = Transformer.from_crs("EPSG:27700", "EPSG:4326")   # EPSG code 27700 corresponds to OSGB (Ordnance Survey Grid)

# Define a function to convert UTM coordinates to WGS84
def utm_to_wgs84(easting, northing):
    lat, lon = osgb_proj.transform(easting, northing)
    return lat, lon

# Define a function to apply UTM to WGS84 conversion to each row and add the results as new columns
def utm_to_wgs84_wrapper(row):
    lat_cal, long_cal = utm_to_wgs84(row['Easting_m'], row['Northing_m'])
    lat_cal_r, long_cal_r = utm_to_wgs84(row['Easting_rounded'], row['Northing_rounded'])
    return pd.Series({'lat_cal': lat_cal, 'long_cal': long_cal, 'lat_cal_r': lat_cal_r, 'long_cal_r': long_cal_r})

# Apply the conversion function to each row and add the results as new columns
with pd.option_context('mode.chained_assignment', None):  # Suppress SettingWithCopyWarning
    df_i2[['lat_cal', 'long_cal', 'lat_cal_r', 'long_cal_r']] = df_i2.apply(utm_to_wgs84_wrapper, axis=1)

# Display the updated DataFrame
print(df_i2.head())

    IncidentNumber DateOfCall  CalYear  HourOfCall      IncGeo_BoroughName  \
0  043453-28032023  28-Mar-23     2023          23               ISLINGTON
1  144295-18092023  18-Sep-23     2023           8  KENSINGTON AND CHELSEA
2  197526-16122023  16-Dec-23     2023          12                  EALING
3  137787-08092023  08-Sep-23     2023           8                  CAMDEN
4  143525-16092023  16-Sep-23     2023          23                  MERTON

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  \
0        NaN         NaN           532350            186150        NaN
1        NaN         NaN           527850            178950        NaN
2   517597.0    179596.0           517550            179550  51.503080
3   530803.0    182694.0           530850            182650  51.528024
4        NaN         NaN           526050            170950        NaN

   Longitude  AttendanceTime DeployedFromStation    lat_cal  long_cal  \
0        NaN           140.0     Stoke Newington        inf       inf
1        NaN           283.0             Chelsea        inf       inf
2  -0.307068           521.0            Chiswick  51.503074 -0.307102
3  -0.115758           273.0              Euston  51.528016 -0.115792
4        NaN           254.0           Wimbledon        inf       inf

   lat_cal_r  long_cal_r
0  51.558712   -0.092206
1  51.495045   -0.159694
2  51.502671   -0.307795
3  51.527609   -0.115131
4  51.423552   -0.188458

# Read the CSV file stations_boroughs

In [35]:
# Read the CSV file stations_boroughs
file_path = '../data/external/stations_boroughs_1.csv'
df_stations_boroughs = pd.read_csv(file_path)

# Display the first and last 10 rows
print(df_stations_boroughs.head(10))

# Get info about DF
print(df_stations_boroughs.info())

     borough  bor_sqkm       pop  pop_per_sqkm_bor  in_o_out         reg  \
0     Camden     21.80  210390.0            9651.0       1.0  north_west
1     Camden     21.80  210390.0            9651.0       1.0  north_west
2     Camden     21.80  210390.0            9651.0       1.0  north_west
3  Greenwich     47.35  289254.0            6109.0       1.0  south_east
4  Greenwich     47.35  289254.0            6109.0       1.0  south_east
5  Greenwich     47.35  289254.0            6109.0       1.0  south_east
6  Greenwich     47.35  289254.0            6109.0       1.0  south_east
7  Greenwich     47.35  289254.0            6109.0       1.0  south_east
8    Hackney     19.06  259956.0           13639.0       1.0  north_east
9    Hackney     19.06  259956.0           13639.0       1.0  north_east

   borough.1            stat c_stat  \
0     Camden          Euston    A23
1     Camden   West Hampstad    A41
2     Camden    Kentish town    A43
3  Greenwich          Eltham    E30
4  Greenwich       Lee Green    E29
5  Greenwich       Greenwich    E22
6  Greenwich  East Greenwich    E23
7  Greenwich       Plumstead    E25
8    Hackney      Shoreditch    F24
9    Hackney        Homerton    F28

                                           adress        lat      long  \
0                        172 Euston Road, NW1 2DH  51.527760 -0.130790
1                     327B West End Lane, NW6 1RS  51.551860 -0.192780
2                  20 Highgate Rd, London NW5 1NS  51.552900 -0.141630
3                     266 Eltham High St, SE9 1BA  51.450695  0.059444
4                         9 Eltham Road, Se12 8ES  51.456418  0.012690
5                      4 Blisset Street, SE10 8UP  51.473806 -0.013408
6                      325 Woolwich Road, SE7 7RF  51.486904  0.022305
7               Lakedale Road Plumstead, SE12 8ES  51.487428  0.091357
8                        235 Old Street, EC1V 9EY  51.526625 -0.084321
9  97 Homerton High Street Hackney, London E9 6DL  51.548634 -0.043184

                                                html  pop_per_stat  \
0   https://www.london-fire.gov.uk/community/camden/         70130
1   https://www.london-fire.gov.uk/community/camden/         70130
2   https://www.london-fire.gov.uk/community/camden/         70130
3  https://www.london-fire.gov.uk/community/green...         57851
4  https://www.london-fire.gov.uk/community/green...         57851
5  https://www.london-fire.gov.uk/community/green...         57851
6  https://www.london-fire.gov.uk/community/green...         57851
7  https://www.london-fire.gov.uk/community/green...         57851
8  https://www.london-fire.gov.uk/community/hackney/         86652
9  https://www.london-fire.gov.uk/community/hackney/         86652

   pop_per_sqkm_stat  area_sqkm_stat  distance_stat
0               3217               7    2299.648380
1               3217               7    6719.779235
2               3217               7    5179.728464
3               1222               9   14395.991772
4               1222               9   11236.034918
5               1222               9    8733.466474
6               1222               9   10620.047077
7               1222               9   15319.134876
8               4546               6    3690.581475
9               4546               6    7441.716420
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   borough            103 non-null    object
 1   bor_sqkm           103 non-null    float64
 2   pop                103 non-null    float64
 3   pop_per_sqkm_bor   103 non-null    float64
 4   in_o_out           103 non-null    float64
 5   reg                103 non-null    object
 6   borough.1          103 non-null    object
 7   stat               103 non-null    object
 8   c_stat             103 non-null    object
 9   adress             103 non-null    object
 10  lat                103 non-null    float64
 11  long               103 non-null    float64
 12  html               103 non-null    object
 13  pop_per_stat       103 non-null    int64
 14  pop_per_sqkm_stat  103 non-null    int64
 15  area_sqkm_stat     103 non-null    int64
 16  distance_stat      103 non-null    float64
dtypes: float64(7), int64(3), object(7)
memory usage: 13.8+ KB
None

# Merge with stations_boroughs to attach geoinfo of the stations

In [36]:
# Merge based on the 'FirstPumpArriving_DeployedFromStation' column
df_mi2 = pd.merge(
    df_i2,  # Left DataFrame
    df_stations_boroughs[['stat', 'lat', 'long', 'bor_sqkm', 'pop_per_stat', 'distance_stat']],
    left_on='DeployedFromStation',  # Column to merge on in df_i2
    right_on='stat',  # Column to merge on in stations_boroughs
    how='left'  # Type of merge (in this case, left)
)

# Display the first few rows of the merged DataFrame
print(df_mi2.head())
print(df_mi2.info())

    IncidentNumber DateOfCall  CalYear  HourOfCall      IncGeo_BoroughName  \
0  043453-28032023  28-Mar-23     2023          23               ISLINGTON
1  144295-18092023  18-Sep-23     2023           8  KENSINGTON AND CHELSEA
2  197526-16122023  16-Dec-23     2023          12                  EALING
3  137787-08092023  08-Sep-23     2023           8                  CAMDEN
4  143525-16092023  16-Sep-23     2023          23                  MERTON

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  ...  \
0        NaN         NaN           532350            186150        NaN  ...
1        NaN         NaN           527850            178950        NaN  ...
2   517597.0    179596.0           517550            179550  51.503080  ...
3   530803.0    182694.0           530850            182650  51.528024  ...
4        NaN         NaN           526050            170950        NaN  ...

     lat_cal  long_cal  lat_cal_r  long_cal_r             stat        lat  \
0        inf       inf  51.558712   -0.092206  Stoke Newington  51.562056
1        inf       inf  51.495045   -0.159694          Chelsea  51.487107
2  51.503074 -0.307102  51.502671   -0.307795         Chiswick  51.490610
3  51.528016 -0.115792  51.527609   -0.115131           Euston  51.527760
4        inf       inf  51.423552   -0.188458        Wimbledon  51.415543

       long bor_sqkm  pop_per_stat  distance_stat
0 -0.076530    19.06       86652.0    7052.842222
1 -0.172815    12.13       47980.0    3854.144422
2 -0.269030    55.99       95980.0    9976.151736
3 -0.130790    21.80       70130.0    2299.648380
4 -0.197532    37.61      107662.0   11296.133802

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_m            4120 non-null   float64
 6   Northing_m           4120 non-null   float64
 7   Easting_rounded      10000 non-null  int64
 8   Northing_rounded     10000 non-null  int64
 9   Latitude             4120 non-null   float64
 10  Longitude            4120 non-null   float64
 11  AttendanceTime       9476 non-null   float64
 12  DeployedFromStation  9476 non-null   object
 13  lat_cal              10000 non-null  float64
 14  long_cal             10000 non-null  float64
 15  lat_cal_r            10000 non-null  float64
 16  long_cal_r           10000 non-null  float64
 17  stat                 8999 non-null   object
 18  lat                  8999 non-null   float64
 19  long                 8999 non-null   float64
 20  bor_sqkm             8999 non-null   float64
 21  pop_per_stat         8999 non-null   float64
 22  distance_stat        8999 non-null   float64
dtypes: float64(14), int64(4), object(5)
memory usage: 1.8+ MB
None

# Example data records when 'station' is NaN

In [37]:
# BeispieldatensÃ¤tze, wenn 'station' NaN ist
nan_station_records = df_mi2[df_mi2['stat'].isna()]

print("Example data records when 'stat' is NaN:")
print(nan_station_records)

Example data records when 'stat' is NaN:
       IncidentNumber DateOfCall  CalYear  HourOfCall IncGeo_BoroughName  \
10    197033-15122023  15-Dec-23     2023          16             CAMDEN
15    028725-26022023  26-Feb-23     2023          18      TOWER HAMLETS
16    188392-01122023  01-Dec-23     2023           5         WANDSWORTH
18    088343-17062023  17-Jun-23     2023          15             EALING
19    012588-26012023  26-Jan-23     2023           5              BRENT
...               ...        ...      ...         ...                ...
9973  057598-26042023  26-Apr-23     2023          10           HARINGEY
9980  128328-23082023  23-Aug-23     2023          21             CAMDEN
9985  050872-12042023  12-Apr-23     2023          19             EALING
9997  005727-13012023  13-Jan-23     2023           3        WESTMINSTER
9999  182176-20112023  20-Nov-23     2023          17             CAMDEN

      Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  \
10     527228.0    185389.0           527250            185350  51.553058
15          NaN         NaN           536750            180850        NaN
16          NaN         NaN           529650            176850        NaN
18          NaN         NaN           518050            180450        NaN
19          NaN         NaN           516650            185650        NaN
...         ...         ...              ...               ...        ...
9973   528899.0    187730.0           528850            187750  51.573720
9980   529166.0    183745.0           529150            183750  51.537842
9985   515716.0    182773.0           515750            182750  51.532019
9997   530238.0    180371.0           530250            180350  51.507272
9999        NaN         NaN           530150            181450        NaN

      ...    lat_cal  long_cal  lat_cal_r  long_cal_r  stat  lat  long  \
10    ...  51.553051 -0.166326  51.552696   -0.166023   NaN  NaN   NaN
15    ...        inf       inf  51.510038   -0.030831   NaN  NaN   NaN
16    ...        inf       inf  51.475763   -0.134550   NaN  NaN   NaN
18    ...        inf       inf  51.510655   -0.300293   NaN  NaN   NaN
19    ...        inf       inf  51.557681   -0.318737   NaN  NaN   NaN
...   ...        ...       ...        ...         ...   ...  ...   ...
9973  ...  51.573710 -0.141380  51.573901   -0.142080   NaN  NaN   NaN
9980  ...  51.537837 -0.138992  51.537886   -0.139221   NaN  NaN   NaN
9985  ...  51.532016 -0.333149  51.531802   -0.332666   NaN  NaN   NaN
9997  ...  51.507270 -0.124790  51.507079   -0.124625   NaN  NaN   NaN
9999  ...        inf       inf  51.516987   -0.125659   NaN  NaN   NaN

     bor_sqkm  pop_per_stat  distance_stat
10        NaN           NaN            NaN
15        NaN           NaN            NaN
16        NaN           NaN            NaN
18        NaN           NaN            NaN
19        NaN           NaN            NaN
...       ...           ...            ...
9973      NaN           NaN            NaN
9980      NaN           NaN            NaN
9985      NaN           NaN            NaN
9997      NaN           NaN            NaN
9999      NaN           NaN            NaN

[1001 rows x 23 columns]

# Calculate and add 'distance' btween incident and firestation

In [38]:

# Calculate and add 'distance' btween incident and firestation

from geopy.distance import geodesic

def calculate_distance(row):
    # Check if latitude values are within the expected range
    if pd.notna(row['Latitude']) and pd.notna(row['lat']):
        valid_latitudes = all(49 <= lat <= 53 for lat in [row['Latitude'], row['lat']])
        if not valid_latitudes:
            return None

    if pd.notna(row['Latitude']) and pd.notna(row['Longitude']) and pd.notna(row['lat']) and pd.notna(row['long']):
        # If both sets of coordinates are present, calculate the distance
        coord1 = (row['Latitude'], row['Longitude'])
        coord2 = (row['lat'], row['long'])
        return geodesic(coord1, coord2).meters
    elif pd.notna(row['lat_cal_r']) and pd.notna(row['long_cal_r']) and pd.notna(row['lat']) and pd.notna(row['long']):
        # If 'Latitude' and 'Longitude' are not present, use 'lat_cal_r' and 'long_cal_r'
        coord1 = (row['lat_cal_r'], row['long_cal_r'])
        coord2 = (row['lat'], row['long'])
        return geodesic(coord1, coord2).meters
    else:
        return 0  # Replace NaN with 0 for distance

# Calculate and add 'distance' column
df_mi2['distance'] = df_mi2.apply(calculate_distance, axis=1)

# Display the first few lines of the updated DataFrame
print(df_mi2.head())

    IncidentNumber DateOfCall  CalYear  HourOfCall      IncGeo_BoroughName  \
0  043453-28032023  28-Mar-23     2023          23               ISLINGTON
1  144295-18092023  18-Sep-23     2023           8  KENSINGTON AND CHELSEA
2  197526-16122023  16-Dec-23     2023          12                  EALING
3  137787-08092023  08-Sep-23     2023           8                  CAMDEN
4  143525-16092023  16-Sep-23     2023          23                  MERTON

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  ...  \
0        NaN         NaN           532350            186150        NaN  ...
1        NaN         NaN           527850            178950        NaN  ...
2   517597.0    179596.0           517550            179550  51.503080  ...
3   530803.0    182694.0           530850            182650  51.528024  ...
4        NaN         NaN           526050            170950        NaN  ...

   long_cal  lat_cal_r long_cal_r             stat        lat      long  \
0       inf  51.558712  -0.092206  Stoke Newington  51.562056 -0.076530
1       inf  51.495045  -0.159694          Chelsea  51.487107 -0.172815
2 -0.307102  51.502671  -0.307795         Chiswick  51.490610 -0.269030
3 -0.115792  51.527609  -0.115131           Euston  51.527760 -0.130790
4       inf  51.423552  -0.188458        Wimbledon  51.415543 -0.197532

   bor_sqkm pop_per_stat  distance_stat     distance
0     19.06      86652.0    7052.842222  1148.993897
1     12.13      47980.0    3854.144422  1269.015114
2     55.99      95980.0    9976.151736  2983.738460
3     21.80      70130.0    2299.648380  1043.581590
4     37.61     107662.0   11296.133802  1092.003059

[5 rows x 24 columns]

In [39]:
print(df_mi2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_m            4120 non-null   float64
 6   Northing_m           4120 non-null   float64
 7   Easting_rounded      10000 non-null  int64
 8   Northing_rounded     10000 non-null  int64
 9   Latitude             4120 non-null   float64
 10  Longitude            4120 non-null   float64
 11  AttendanceTime       9476 non-null   float64
 12  DeployedFromStation  9476 non-null   object
 13  lat_cal              10000 non-null  float64
 14  long_cal             10000 non-null  float64
 15  lat_cal_r            10000 non-null  float64
 16  long_cal_r           10000 non-null  float64
 17  stat                 8999 non-null   object
 18  lat                  8999 non-null   float64
 19  long                 8999 non-null   float64
 20  bor_sqkm             8999 non-null   float64
 21  pop_per_stat         8999 non-null   float64
 22  distance_stat        8999 non-null   float64
 23  distance             9977 non-null   float64
dtypes: float64(15), int64(4), object(5)
memory usage: 1.9+ MB
None

# Delete 'Easting_m',  ' Northing_m', 'Latitude', 'Longitude'

In [40]:
# Delete 'Easting_m',  ' Northing_m', 'Latitude', 'Longitude'

# List of columns to remove
columns_to_remove = ['Easting_m', 'Northing_m', 'Latitude', 'Longitude']

# Remove the columns from the DataFrame
df_mi2 = df_mi2.drop(columns=columns_to_remove)

# Display the updated DataFrame
print(df_mi2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_rounded      10000 non-null  int64
 6   Northing_rounded     10000 non-null  int64
 7   AttendanceTime       9476 non-null   float64
 8   DeployedFromStation  9476 non-null   object
 9   lat_cal              10000 non-null  float64
 10  long_cal             10000 non-null  float64
 11  lat_cal_r            10000 non-null  float64
 12  long_cal_r           10000 non-null  float64
 13  stat                 8999 non-null   object
 14  lat                  8999 non-null   float64
 15  long                 8999 non-null   float64
 16  bor_sqkm             8999 non-null   float64
 17  pop_per_stat         8999 non-null   float64
 18  distance_stat        8999 non-null   float64
 19  distance             9977 non-null   float64
dtypes: float64(11), int64(4), object(5)
memory usage: 1.6+ MB
None

# Remove all rows with NaN values

In [41]:
# Remove all rows with NaN values
df_mi2 = df_mi2.dropna()

# Display the updated DataFrame
print(df_mi2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8976 entries, 0 to 9998
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       8976 non-null   object
 1   DateOfCall           8976 non-null   object
 2   CalYear              8976 non-null   int64
 3   HourOfCall           8976 non-null   int64
 4   IncGeo_BoroughName   8976 non-null   object
 5   Easting_rounded      8976 non-null   int64
 6   Northing_rounded     8976 non-null   int64
 7   AttendanceTime       8976 non-null   float64
 8   DeployedFromStation  8976 non-null   object
 9   lat_cal              8976 non-null   float64
 10  long_cal             8976 non-null   float64
 11  lat_cal_r            8976 non-null   float64
 12  long_cal_r           8976 non-null   float64
 13  stat                 8976 non-null   object
 14  lat                  8976 non-null   float64
 15  long                 8976 non-null   float64
 16  bor_sqkm             8976 non-null   float64
 17  pop_per_stat         8976 non-null   float64
 18  distance_stat        8976 non-null   float64
 19  distance             8976 non-null   float64
dtypes: float64(11), int64(4), object(5)
memory usage: 1.4+ MB
None

# Calculate target variable

In [42]:
# Convert 'AttendanceTime' to minutes and then classify into time intervals
df_mi2['AttendanceTimeClasses3'] = pd.cut(df_mi2['AttendanceTime'] / 60, bins=[0, 3, 6, 9, 12, 15, float('inf')], labels=['0-3min', '3-6min', '6-9min', '9-12min', '12-15min', '> 15min'])

# Display the updated DataFrame
print(df_mi2.head())
print(df_mi2.info())

    IncidentNumber DateOfCall  CalYear  HourOfCall      IncGeo_BoroughName  \
0  043453-28032023  28-Mar-23     2023          23               ISLINGTON
1  144295-18092023  18-Sep-23     2023           8  KENSINGTON AND CHELSEA
2  197526-16122023  16-Dec-23     2023          12                  EALING
3  137787-08092023  08-Sep-23     2023           8                  CAMDEN
4  143525-16092023  16-Sep-23     2023          23                  MERTON

   Easting_rounded  Northing_rounded  AttendanceTime DeployedFromStation  \
0           532350            186150           140.0     Stoke Newington
1           527850            178950           283.0             Chelsea
2           517550            179550           521.0            Chiswick
3           530850            182650           273.0              Euston
4           526050            170950           254.0           Wimbledon

     lat_cal  ...  lat_cal_r  long_cal_r             stat        lat  \
0        inf  ...  51.558712   -0.092206  Stoke Newington  51.562056
1        inf  ...  51.495045   -0.159694          Chelsea  51.487107
2  51.503074  ...  51.502671   -0.307795         Chiswick  51.490610
3  51.528016  ...  51.527609   -0.115131           Euston  51.527760
4        inf  ...  51.423552   -0.188458        Wimbledon  51.415543

       long  bor_sqkm  pop_per_stat  distance_stat     distance  \
0 -0.076530     19.06       86652.0    7052.842222  1148.993897
1 -0.172815     12.13       47980.0    3854.144422  1269.015114
2 -0.269030     55.99       95980.0    9976.151736  2983.738460
3 -0.130790     21.80       70130.0    2299.648380  1043.581590
4 -0.197532     37.61      107662.0   11296.133802  1092.003059

   AttendanceTimeClasses3
0                  0-3min
1                  3-6min
2                  6-9min
3                  3-6min
4                  3-6min

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8976 entries, 0 to 9998
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IncidentNumber          8976 non-null   object
 1   DateOfCall              8976 non-null   object
 2   CalYear                 8976 non-null   int64
 3   HourOfCall              8976 non-null   int64
 4   IncGeo_BoroughName      8976 non-null   object
 5   Easting_rounded         8976 non-null   int64
 6   Northing_rounded        8976 non-null   int64
 7   AttendanceTime          8976 non-null   float64
 8   DeployedFromStation     8976 non-null   object
 9   lat_cal                 8976 non-null   float64
 10  long_cal                8976 non-null   float64
 11  lat_cal_r               8976 non-null   float64
 12  long_cal_r              8976 non-null   float64
 13  stat                    8976 non-null   object
 14  lat                     8976 non-null   float64
 15  long                    8976 non-null   float64
 16  bor_sqkm                8976 non-null   float64
 17  pop_per_stat            8976 non-null   float64
 18  distance_stat           8976 non-null   float64
 19  distance                8976 non-null   float64
 20  AttendanceTimeClasses3  8976 non-null   category
dtypes: category(1), float64(11), int64(4), object(5)
memory usage: 1.4+ MB
None

# Save processed file in ../data/processed/

In [43]:
# Save processed file in ../data/processed/

# File path to save the processed CSV file
output_file_path = '../data/processed/df_mi5.csv'

# Save the DataFrame as a CSV file
df_mi2.to_csv(output_file_path, index=False)